<form name="wrapper-form" class="m-4" method="POST" action="/course/handle-form-actions">

    <header  style="text-align: center; font-size: 1.5rem"><strong>LIST COURSE</strong></header>
    <a href="/me/trash/course">Trash ({{deleteCount}})</a>

  <div class="all-action d-flex align-items-center" >


    <div class="form-check">
      <input id="select-course" class="form-check-input" type="checkbox"  value="">
      <label class="form-check-label" for="select-course">
          Select all
      </label>
    </div>

  <select class="select-form form-select-sm m-4" aria-label="Default select example" name="action">
    <option value="" selected >---Select action---</option>
    <option name="delete" value="delete">Delete</option>

    
  </select>

  <button type="button" class="btn btn-primary btn-sm action-active-btn disabled">Active action</button>


  </div>


    <table class="table">
  <thead>
    <tr>
      <td></td>
      <th scope="col">#</th>
      <th scope="col">Name
       {{{sortable 'name' _sort}}}
      </th>
      <th scope="col">Price
        {{{sortable 'price' _sort}}}
      </th>
      <th scope="col">Date Update
         {{{sortable 'createdAt' _sort}}}
      </th>
      <td></td>
      <td></td>
    </tr>
  </thead>
  <tbody>

    {{#each course}}
    <tr>
      <td>
        <input type="checkbox" name="courseIds[]" value="{{this._id}}">
      </td>
      
      <th scope="row">{{sum @index 1}}</th>
      <td>{{this.name}}</td>
      <td>{{this.price}}</td>
      <td>{{this.createdAt}}</td>    
        <td> 
           
            <a href='/course/{{this._id}}/edit' class="btn btn-link">Update</a>
            <a href="" class="btn btn-link delete-btn" data-id="{{this._id}}" data-bs-toggle="modal" data-bs-target="#deleteModal" >Delete</a>
            
        </td>
    </tr>
    {{else}}
    <tr>
        <td colspan="6">There are no courses remain in this list
            <a href="/course/create">add course</a>
        </td>
    </tr>

    {{/each}}
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Confirm Form</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Do you really want to delete this course?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger confirm-delete">Delete</button>
      </div>
    </div>
  </div>
</div>

</form>

<form name="delete-form" method="POST" ></form>

<script>


    document.addEventListener('DOMContentLoaded', function() {
        const deleteForm = document.forms['delete-form']
        const wrapperForm = document.forms['wrapper-form']
        const deleteBtn = $('.delete-btn')
        const isSubmitTable = false
        const deleteConfirm = $('.confirm-delete')
        const selectForm = $('.select-form')
        var isCheckedInList = false
        var isSelect = true

        // delete btn
            deleteBtn.click(function(e) {
                const id = $(this).data('id')
                deleteConfirm.click(function() {
                deleteForm.action = `/course/`+ id + '?_method=DELETE'
                deleteForm.submit()

                })

            })
        
        // select zone

        const checkAll = $('#select-course')
        const checkBtn = $('input[name="courseIds[]"]')
        var lengthCheck = checkBtn.length
        
       
       
       //check all click
        checkAll.change(function() {
          var isChecked = $(this).prop('checked')
          var lengthChecked = $('input[name="courseIds[]"]:checked').length
           
            if( isChecked){
              checkBtn.prop('checked',true)
               $('.action-active-btn').removeClass('disabled')
            }
            else{
              checkBtn.prop('checked',false)
              $('.action-active-btn').addClass('disabled')
            }

       
        })
        
      // check course click

        checkBtn.change(function() {
          var lengthChecked = $('input[name="courseIds[]"]:checked').length
            
            if(lengthCheck !== lengthChecked){
                checkAll.prop('checked', false)
            }
            else {
               checkAll.prop('checked', true)
            }
            
            if(lengthChecked > 0){
               $('.action-active-btn').removeClass('disabled')
            }
            else {
               $('.action-active-btn').addClass('disabled')
             }

        })




      // check submittable
        // selectForm.change(function() {
         // if($('option:selected').val() === 'delete')
           //  wrapperForm.action = '' 
        //})

       $('.action-active-btn').click(function() {
              wrapperForm.submit()
       })

       


        


    })

</script>